!!!
%html{html_attrs(lang='utf8')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title= @iblog.title
  %body
  %h1 sorry only iphone
  %a{ :href => "#{$root}"}
    Click here is contents.