!!!
%html{html_attrs(lang='utf8')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title= 'SEARCH'
    %meta{'name' => 'viewport', :content => 'width = device-width, user-scalable=yes'}
    %style{'type'=> 'text/css', :media => 'screen'}@import 'stylesheets/iui.css';
    %script{'type'=> 'application/x-javascript', :src => 'javascripts/iui.js'}
    %link{ :href => "css/style.css", :rel => "stylesheet", :type => "text/css" }

  %body
    .toolbar
      %h1{'id'=> 'pageTitle'} SEARCH
      %a{:href => '/', :id => 'backmenuButton', :class => 'button', :target => '_self'} Home
    %div{:id => "search", :title => 'SEARCH', 'selected' => 'true'}
      #toggl1
        %fieldset
          %form#search{ :method => "post" }
            %input#search_withbydate{ :name => 'search_withbydate', :type => 'hidden', :value => 'OFF' }
              .row
                %label by date
                #search_withbydate.toggle{ :onclick => "document.getElementById('search_withbydate').value = (document.getElementById('search_withbydate').value == 'OFF') ? 'ON' : 'OFF';", :toggled => 'OFF'}
                  %span.thumb
                  %span.toggleOn ON
                  %span.toggleOff OFF
            %input{ :type => "submit", :value => "search"}